.text_secondary_header {
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
}
.regular_text {
    font-size: 0.8rem;
}
.digit_title {
    font-size: 1.4rem;
    font-weight: 700;
}
.digit_text {
    font-size: 0.8rem;
    font-weight: 700;
}
.weight700_text {
    font-weight: 700;
}
.middle_size {
    font-size: 1.1rem;
}
.round_border {
    border-radius: 25px;
    border:1px gray solid;
}
.italic {
    font-style: italic;
}
.px12_text {
    font-size: 12px;
}
.gray_color {
    color: rgb(186, 180, 180);
}
.px10_text {
    font-size: 10px;
}
.round_no_border {
    border-radius: 25px;

}
.dark .background_cyan {
    background: #4e6275;
}
.background_cyan {
    background: lightcyan;
}
.dark .background_light_blue {
    background:#4e6275 ;
}
.background_light_blue {
    background: #e6f1f3;
}
.text_center {
    text-align: center;
    justify-content: center;
}
.not_visible {
    display: none !important; 
}
.background_dark_green {
    background:rgb(56, 79, 66)
}
.background_salade {
    background: #94ca27;
}
.background_blue_tab{
    background: #72bcf1;
}
.background_yellow {
    background: yellow;
}
.background_brown {
    background: burlywood;
}
.background_red {
    background: red;
}
 
.background_light_blue_graph {
    background: #50cbfd;
}
.background_salade_dark {
    background:#b6ca51;
}
.background_sea{
    background:#1c7d7e ;
}
.background_green_for {
    background: #237d7d;
}
.background_dark_orange {
    background:#ff7d67 ;
}